body {

}
h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}
#board {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    margin-bottom: calc(8.5vw + 15px);
}
table.panel {
    width: 100%;
    margin-bottom: 15px;
}
table.panel td {
    padding-right: 10px;
}
#calculate-button {
    width: 75px;
}
#progress-bar {
    position: relative;
    border: 1px solid #827d64c4;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
}
#progress-bar::before {
    content: "";
    background-color: #a6caa6;
    width: var(--progress);
    position: absolute;
    top: 0;
    right: 0;
    left: 0%;
    height: 100%;
    bottom: 0;
    z-index: -1;
    border-radius: 5px;
}
#progress-bar > progress{
    width: 100%;
}
#board .tile {
    --row: 1;
    --col: 1;
    position: relative;
    grid-column: calc(var(--col) + var(--col) - 1) / span 3;
    grid-row: calc(var(--row) + var(--row)) / span 2;
    height: 17vw;
}
#board .tile.row-2 {
    --row: 2;
}
#board .tile.row-3 {
    --row: 3;
}
#board .tile.row-4 {
    --row: 4;
}
#board .tile.row-5 {
    --row: 5;
}
#board .tile.row-6 {
    --row: 6;
}
#board .tile.row-7 {
    --row: 7;
}

#board .tile.col-1 {
    --col: 1;
}
#board .tile.col-2 {
    --col: 2;
}
#board .tile.col-3 {
    --col: 3;
}
#board .tile.col-4 {
    --col: 4;
}
#board .tile.col-5 {
    --col: 5;
}
#board .tile.col-6 {
    --col: 6;
}
#board .tile.col-7 {
    --col: 7;
}

.hexagon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #a0caa0;
    clip-path: polygon(75% 1%, 99% 50%, 75% 99%, 25% 99%, 1% 50%, 25% 1%);
    text-align: center;
    line-height: 17vw;
    font-size: 7vw;
    cursor: pointer;
    z-index: 1;
}
.hexagon:hover {
    background-color: #abcdef;
}
.col-2 .hexagon, .col-4 .hexagon, .col-6 .hexagon {
  top: 8.5vw;
}
.hexagon.mimic {
    background-color: #efdbab;
}
.hexagon.void {
  background-color: #827d64c4;
}
.hexagon.to_bomb {
    background-color: #ca8a8a;
}
.down .hexagon {
  bottom: -7.6vw;
}
/*
.hexagon::before {
    content: "⬢";
    position: absolute;
    color: #827d64;
    z-index: -1;
    font-size: 21vw;
    right: 5.6vw;
    top: -0.8vw;
}
*/
#board td .index {
    position: absolute;
    z-index: 1;
    margin-left: -0.6vw;
    margin-top: -8vw;
}
#board td.down .index {
    margin-top: -1vw;
}
td.on {
    background-color: #d3e6ff;
}
body.player td.best-choice,
body.player #status {
    background-color: #cdffd0;
}

body.habby td.best-choice,
body.habby #status {
    background-color: #fffccb;
}

@media (min-width: 700px) {
    #bingo td {
      font-size: 35px;
    }
}

